



/* body section */

.products {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: violet;
}

.prod_logo {
    border: 1px black solid;
    padding: 10%;
}