* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* nav section */
.navigation {  
    background-color: black;
    padding: 20px;
}

.left_nav{
    display: flex;
    justify-content:start;
    margin-left: 40px;
}

.right_nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

nav a {
    color: white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
}

.search_area{
    background-color: #dadbf1;
    text-align: center;
    padding: 100px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* body section */

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.prod_logo {
    border: 1px black solid;
    padding: 10%;
    width: 30%;
    margin: 1%;
    text-align: justify;
}
.menu_image {
    float: left;
    margin-right: 5px;
    width: 4em;
    height: auto;
}

.par_text {
    text-align: justify;
    flex: 1;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    background-color: black;
    color: white;
}
.footer-container-info {
    background: black;
}
.abstract-logo-footer {
    height: 50px;
    width: 50px;
}