/* basic */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* nav section */
.navigation {  
    background-color: black;
    padding: 20px;
}

.left_nav{
    display: flex;
    justify-content:start;
    margin-left: 40px;
}

.right_nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

nav a {
    color: white;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
}

.search_area{
    background-color: #dadbf1;
    text-align: center;
    padding: 100px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* body section */

body {
    font-family: 'lato', sans-serif;
}

h4 {
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.prod_logo {
    border: 1px none;
    padding: 1em;
    width: calc(30% - 20px);
    margin: 1%;
    text-align: justify;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

/* Ajusta las propiedades para pantallas más grandes */
@media (min-width: 1200px) {
    .prod_logo {
        width: calc(48% - 20px);
    }
}

/* Agrega reglas de estilo para mantener el diseño en dispositivos más pequeños */
@media (max-width: 768px) {
    .prod_logo {
        width: 100%;
    }
}

.menu_image {
    float: left;
    margin-right: 5px;
    width: 4em;
    height: auto;
    justify-content: center;
}

.par_text {
    text-align: justify;
    flex: 1;
}

.par_text h4 {
    margin-bottom: 0; 
}

.learn_more {
    text-decoration: none;
}

.learn_more:hover {
    text-decoration: underline;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    background-color: black;
    color: white;
}
.footer-container-info {
    background: black;
}
.abstract-logo-footer {
    height: 50px;
    width: 50px;
}
